/*Arredondamento*/

.caixa {
	width: 400px;
	background: #dedede url(../imagens6/fundo-arredondamento.png) repeat-y;
}


.caixa h2{
	padding: 10px 20px 0 20px;
	background: url(../imagens6/topo2.png) no-repeat top;
}

.caixa p{
	padding: 0 20px;
	margin-bottom: 0px;
}

.caixa .ultimo {
	background: url(../imagens6/baixo2.png) no-repeat bottom;
	width: 400px;
	height: 24px;
}
