/*Estilizando tabelas*/
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table{
	width: 600px;
	/*Border colapse é basicamente o colpaso de duas bordas(de dois itens)
	se tipo, vai deixar uma borda separada da outra, ou colapsa
	elas e vira so uma*/
	/*Essa função tem duas opções:separeted(padrao) ou collapse*/;
	border-collapse: separate;
}

th, td{
	padding: 7px;
}


th{
	text-transform: uppercase;/*Deixa todas as letras maísculas*/
	border-top: 1px solid #999; 
	border-bottom: 1px solid #111; 
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.1em;/*Espaçamento entre letras*/
}

tr.alternado {
	background-color: #efefef;
}

tr:hover{
	background-color: #c3e6e5;
}

.numero{
	text-align: right;
}
